@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

@font-face {
    font-family: 'Open Dyslexic';
    src: url('font/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --bg: #222;
    --text: #fff;
}

.light-mode{
    --bg: #fff;
    --text: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Open Dyslexic', Arial, sans-serif;
    background-color: var(--text);
    color: var(--bg);
    line-height: 1.6;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding-left: 20px;
}

.c_logo {
    display: flex;
    width: 1400px;
    align-items: center;
}

.c_logo p {
    font-size: 35px;
    font-family: "Itim", cursive;
    font-weight: 500;
    font-style: normal;
    color: #4597f0;
}

#logo {
    height: 70px;
    width: 76px;
}

#mode {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
}

#mode:hover {
    background-color: var(--text);
    color: var(--bg);
}

#moon {
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 30px;
    gap: 30px;
}

.summary img {
    width: 370px;
    height: 370px;
}

.abstract {
    display: flex;
    flex-direction: column;
    width: 950px;
    margin-left: 10px;
}

.abstract > * {
    margin-bottom: 30px;
}

#uploadForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

#uploadForm input[type="file"] {
    font-family:'Open Dyslexic', Arial, sans-serif;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#uploadForm button {
    font-family:'Open Dyslexic', Arial, sans-serif;
    width: 180px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4597f0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#uploadForm button:hover {
    background-color: #003f7f;
}

.container {
    margin-bottom: 40px;
}

#output {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.result-section {
    flex: 1;
    width: 300px;
    background: var(--text);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.result-section h3 {
    color: #4597f0;
    margin-bottom: 10px;
}

.result-section p {
    background-color: var(--text);
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    white-space: pre-wrap;
    margin-bottom: 35px;
}

audio {
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: var(--text);
    padding: 5px;
}

.result-section.expanded {
    width: 90%; 
    height: auto; 
    transition: width 0.3s ease, height 0.3s ease; 
}

.foot {
    width: 100%;
    padding: 20px;
    font-family: "Itim", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: var(--bg);
    text-align: center;
    border-top: 1px solid var(--bg);
}
